body h1,h2,h3,h4,h5,h6,p{
    font-family: 'Work Sans', sans-serif;
}


.ff{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(233, 232, 232);
}

.col-xxl-4 span{
    float: left;
    margin-right: 10px;
}

.col-xxl-4 h2{
    display: inline-block;
    margin-top: 10px;
    font-size: 27px;
    font-weight: 500;
    color: #010101;
    transition: .4s;
}

.col-xxl-4 img{
    width: 60px;
}

.container{
    margin-top: 10px;
}

.col-xxl-4 h2:hover{
    color: rgb(161, 161, 161);
}

.col-xxl-4 ul{
}
.col-xxl-4 ul li{
    line-height: 3;
    display: inline-block;
    font-size: 20px;
    padding: 0 12px;
}
.col-xxl-4 ul li a{
    text-decoration: none;
    color: #010101;
}
.col-xxl-4 ul li:hover > a{
    color: #0d6efd;
}

/* diohfhf */


.kala-lala{
    margin-top: 80px;
}
.col-xxl-4 ul li{
    position: relative;
}
.col-xxl-4 ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 282px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.col-xxl-4 ul li ul{
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform-origin: top;
    transform: scaleY(0);
}

.col-xxl-4 ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.col-xxl-4 ul li ul li a{
    display: block;
    border-bottom: 1px solid #ddd;
}

/* njffjfj */


.kala-lala{
    background: url(./mbr-10.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.kala-lala::before{
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.dj-kalia p{
    font-size: 25px;
    font-weight: 300;
    color: #ffff;
    margin-bottom: 30px;
}

.dj-kalia h2{
    font-size: 45px;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 30px;
}

.gaja{
    margin-bottom: 100px;
}

.raja{
    border: none;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: .4s;
}



.raja:hover{
    background: white;
    color: #0d6efd;
    box-shadow: 4px 4px 20px 4px rgba(98, 120, 223, .5);
}


.yo-yo{
    margin-top: 100px;
}

.col-xxl-3 h2{
    font-size: 50px;
    text-align: center;
}

.col-xxl-3 p{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #767676;
}

/* fwmfwemff */

.malur{
    margin-top: 100px;
}
.blogory{
    margin-top: 120px;
}
.blogory h2{
    font-size: 45px;
    font-weight: 500;
}

.blogory p{
    font-size: 21px;
    font-weight: 500;
}

.balala img{
    width: 350px;
}

.salalala{
    margin-top: 200px;
}

.salalala h2{
    font-size: 45px;
    font-weight: 400;
}

.salalala p{
    font-size: 25px;
    font-weight: 300;
    color: #767676;
}

/* feefhfhefh */


.features{
    margin-top: 100px;
}

.holulu img{
    float: left;
    height: 230px;
    width: 150px;
    margin-right: 30px;
    border-radius: 10px;
}

.holulu h3{
    font-weight: 600;
    font-size: 22px;
    margin-top: 50px;
}

.holulu p{
    color: #767676;
    font-weight: 300;
    font-size: 15px;
}
.holulu{
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
}
/* seccc */
.seccc{
    margin-top: 150px;
}

.polio{
    margin-top: 100px;
}

.polio img{
    width: 100%;
}

.polio-item a{
    position: relative;
    display: block;
}

.polio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(98, 120, 223, .7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.polio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}

.yok{
    margin-top: 100px;
}

.yok h2{
    font-size: 60px;
    font-weight: 400;
}

.yok p{
    font-size: 25px;
    color: #767676;
}

.shadoww{
    margin-top: 100px;
}
.bal{
    box-shadow: 1px 4px 20px 2px rgba(98, 120, 223, .5);
    margin: auto;
    width: 620px;
    border-radius: 5px;
    padding: 50px 0;

}
.bal h1{
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 20px;
}
.bal p{
    color: #767676;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 20px;
}
.bal ul{

}
.bal ul li{
    list-style: none;
    margin-bottom: 30px;
}

.bal ul li i{
    color: #0d6efd;
    font-size: 30px;
    margin-right: 10px;
}


.ninja a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

.ninja{
    text-align: center;
    border: none;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    transition: .4s;
    margin-top: 15px;
    box-shadow: 4px 4px 20px 4px #ddd;
}

.bal:hover .ninja{
    background: #0d6efd;
}

.bal:hover .ninja a{
    color: #fff;
}

.ninja:hover{
    Background: #000 !important;
}


.kallullu{
    margin-top: 100px;
}
.kallullu p{
    color: #767676;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
}

.kallullu h2{
    font-weight: 500;
    font-size: 45px
}

.mew{
    margin-top: 100px;
}
.mew p{
    color: #767676;
    font-size: 30px;
    font-weight: 300;
}

.man-only{
    margin-top: 50px;
}

.men img{
    float: left;
    margin-left: 564px;
    border-radius: 100%;
    width: 70px;
    margin-top: -7px;
}

.man-only h2{
    margin-right: 530px;
    font-size: 20px;
    font-weight: 600;
}

.man-only p{
    margin-right: 588px;
    font-size: 18px;
    font-weight: 300;
}

.likha-abr{
    margin-top: 150px;
}
.billi h1{
    margin-bottom: 50px;
    font-size: 40px;
}
.billi p{
    font-size: 19px;
    font-weight: 400;
}
.silli p{
    margin-top: 96px;
    font-size: 19px;
    font-weight: 400;
}

.inch{
    box-shadow: 4px 4px 20px 4px rgba(98, 120, 223, .5);
    margin: auto;
}
.inch{
    margin-right: 2%;
    width: 301px;
    padding: 30px 25px;
    box-sizing: border-box;
}

.inch h2{
    margin-top: 40px;
    font-weight: 500;
    font-size: 23px;
}
.inch h3{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}
.inch p{
    color: #767676;
}

.koro{
    box-shadow: 4px 4px 20px 4px #ddd;
    border: none;
    display: inline-block;
    transition: .4s;
    border-radius: 7px;

}

.koro a{
    text-decoration: none;
    color: #465052;
    font-weight: 700;
}

.koro:hover{
    background: #465052;
    border-radius: 7px;
}

.koro a:hover{
    color: white;
}

.dj-lala{
    margin-top: 100px;
}
.inch img{
    margin-top: -80px;
    border-radius: 100%;
    width: 127px;
}

.tai{
    margin-top: 150px;
}
.tai p{
    color: #767676;
    font-weight: 300;
    font-size: 20px;
}
.tai h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
}

.ha{
    margin-top: 100px;
}

.ha h2{
    font-size: 25px;
}

.footer{
    margin-top: 200px;
}

.touch{
    display: inline-block;
    margin-top: 50px;
}

.chad{
    text-decoration: none;
}

.chad{
    border: 2px solid rgb(25, 129, 5);
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #5ba533;
    transition: .4s;
    margin-right: 15px;
}
.pad{
    text-decoration: none;
    padding: 12px 45px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    background: #5ba533;
    transition: .4s;
    
}

.pad:hover{
    background: #000;
    color: #ffffff;
}

.chad:hover{
    background: #5ba533;
    color: #ffffff;
}


.footer p{
    font-size: 25px;
    color: #767676;
    font-weight: 300;
}

.footer h2{
    font-weight: 400;
    font-size: 40px;
}


.footer-image img{
    width: 50%;
}

.footer-image{
    margin-top: 80px;
}

.ses span{
    font-size: 20px;
}
.ses{
    margin-top: 100px;
}

.card{
    border: none;
}

.mia-vai{
    width: 600px;
}

.ballon a:hover{
    background: #fff;
    border: 2px solid #0d6efd transparent;
    color: #0d6efd;
}
.ballon a{
    transition: .4s;
}